@model GameFormModel
@{
	ViewData["Title"] = "Edit Game";
}

<h2 class="text-centre">@ViewData["Title"]</h2>
<hr />

<partial name="_GameFormPartial" model="@Model"/>

@section Scripts
{
		<partial name="_ValidationScriptsPartial"/>
}