@model NewsFormModel
@{
	ViewData["Title"] = "Edit the article ";
}

<h2 class="text-centre">@ViewData["Title"]</h2>
<hr />

<partial name="_NewsFormPartial" model="@Model"/>

@section Scripts
{
			<partial name="_ValidationScriptsPartial"/>
}
