@model List<NewsAllViewModel>

<h2 class="text-center">News by the journalist</h2>
<hr />

@if (!Model.Any())
{
        <h2 class="text-center">No news found for this journalist.</h2>
}
else
{
        <div class="row">
        @foreach (var news in Model)
        {
                    <partial name="_NewsPartial" model="news" />
        }
        </div>
}
