<form method="post">
    <div class="form-group">
        <label for="userId">User ID:</label>
        <input type="text" id="userId" name="UserId" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Add to Moderator</button>
</form>