@{
	ViewData["Title"] = "Home Admin Page";
}
<div class="mt-4 p-5 bg-light text-center text-white">
	<h2 class="display-4">Hello, Admin!</h2>
	<p class="lead mb-1 mt-3">
		This is your administrator area - you can <b>read</b>, <b>create</b>,
		<b>delete</b> and <b>edit</b> games and news and moderate the reviews.
	</p>
	<hr class="my-4">
	<a asp-area="Admin" asp-controller="Home" asp-action="AddToModerator"
	   class="btn btn-warning btn-lg">Add/Remove Moderator</a>
	<a asp-area="Admin" asp-controller="User" asp-action="All"
	   class="btn btn-warning btn-lg">All Users</a>
	<span> | </span>
	<a asp-area="" asp-controller="Game" asp-action="All"
	   class="btn btn-secondary btn-lg">All Gamess</a>
	<a asp-area="" asp-controller="Game" asp-action="UpcomingGames"
	   class="btn btn-secondary btn-lg">Upcoming Games</a>
	<a asp-area="" asp-controller="News" asp-action="All"
	   class="btn btn-secondary btn-lg">News</a>
	<span> | </span>
	<a asp-area="" asp-controller="Game" asp-action="Add"
	   class="btn btn-success btn-lg">Add Game</a>
	<a asp-area="" asp-controller="News" asp-action="Add"
	   class="btn btn-success btn-lg">Add News</a>
	<span> | </span>
</div>
