@model ReviewFormModel
@{
    ViewData["Title"] = "Add Review";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<partial name="_ReviewFormPartial" model="@Model"/>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}
