@{
    ViewData["Title"] = "Error";
}

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <br>
        <div class="row">
            <div class="col-10">
                <img src="https://cdn.dribbble.com/userupload/4213411/file/original-9d7edc6cadab5f331acf04fab0e00886.jpg?resize=1024x576&vertical=center" alt="Alternative image" class="img-thumbnail" style="width: 100%; height: auto;">
                <div class="text-left h4">
                    <p>Oops, you don't have access here.</p>
                </div>
                <div class="text-left h4">Go back to <a asp-controller="Home" asp-action="Index">Home</a> Page</div>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>