@{
    ViewData["Title"] = "Error";
}

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <br>
        <div class="row">
            <div class="col-10">
                <img src="https://cdn.dribbble.com/userupload/4213413/file/original-b61e40c50be40e9c493f09f7c4c8642d.jpg?resize=1905x1072" alt="Alternative image" class="img-thumbnail" style="width: 100%; height: auto;">
                <div class="text-left h4">
                    <p>Page was not found.</p>
                </div>
                <div class="text-left h4">Go back to <a asp-controller="Home" asp-action="Index">Home</a> Page</div>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>