@{
    ViewData["Title"] = "Error";
}

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <br>
        <div class="row">
            <div class="col-10">
                <img src="https://www.doofinder.com/main-files/uploads/2019/09/error-500-doofinder.jpg" alt="Alternative image" class="img-thumbnail" style="width: 100%; height: auto;">
                <div class="text-left h4">
                    <p>Internet Server Error.</p>
                </div>
                <div class="text-left h4">Go back to <a asp-controller="Home" asp-action="Index">Home</a> Page</div>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>